:root{
    --primary-soft:hsl(0, 0%, 100%);
    --primary-medium:hsl(212, 45%, 89%);
    --neutral-soft: hsl(220, 15%, 55%);
    --neutral-medium: hsl(218, 44%, 22%);
    --neutral-dark:hsl(217, 54%, 11%);
}

